.sidebar {
    width: var(--sidebar-width);
    background-color: #ffffff;
    flex-shrink: 0;
    transition: margin 0.2s ease-in;
    border-right: 1px solid $cool-gray-300;

    &.toggled {
        margin-left: calc(-1 * var(--sidebar-width));
    }

    &-list {
        li {
            a.hasSub {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }

    &-link {
        padding: 0.75rem 1rem;
        @include rfs(0.875rem);
        // color: $gray-32;
        display: block;
        line-height: 100%;
        color: $cool-gray-600;
        font-weight: 600;

        &.active {
            // background-color: $gray-88;
        }

        &[aria-expanded='true'] {
            color: #0d47a1;

            &:after {
                color: #0d47a1;
            }
        }
    }

    &-familyLink {
        padding: 0.75rem 2rem;
        @include rfs(0.75rem);
        // color: $gray-32;
        display: block;
        line-height: 100%;
        color: $cool-gray-600;
        font-weight: 600;

        &.active {
            // background-color: $gray-88;
        }
    }

    &-component {
        margin-top: 1.5rem;
        gap: 0.5rem;

        .nav {
            &-link {
                font-size: 0.875rem;
                // font-weight: 500;
                padding: 0.75rem 0.75rem 0.75rem 2.5rem;
                color: $gray-900;

                &.active {
                    font-weight: 600;
                    background-color: $blue-50;
                    border-radius: unset;
                    color: $blue-800;
                    border-right: 3px solid $blue-500;
                }

                &:hover {
                    color: $blue-600;
                }
            }
        }
    }

    &-search {
        margin: 1.5rem 1rem 0 1rem;

        input {
            width: 100%;
        }
    }
}
